<md-sidenav-container id="page">
  <md-sidenav #sidenav class="example-sidenav">
    <app-side-nav></app-side-nav>
  </md-sidenav>
  <div id="header">
    <button md-button id="header-menu" (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <div class="header-title">Magna Living</div>
    <div class="header-spacer"></div>
    <button md-button class="header-button">Sign Up</button>
    <button md-button class="header-button">Sign In</button>
  </div>
</md-sidenav-container>
