#page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#header {
  height: 64px;
  width: 100%;
  z-index: 10;
  box-sizing: border-box;
  background-color: #0039cb;
  padding: 8px 40px 8px 0;
  display: flex;
  flex-direction: row;
}

#header-menu {
  min-width: 0;
  margin: 0 12px 0 12px;
  color: white
}

.header-title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-spacer {
  flex-grow: 1;
}

.header-button {
  color: white;
  font-size: 14px;
  font-weight: 700;
}
