<mat-sidenav-container id="page">
  <mat-sidenav #sidenav class="example-sidenav">
    <app-side-nav></app-side-nav>
  </mat-sidenav>
  <div id="header">
    <button mat-button id="header-menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="header-title">Nick Plutt</div>
    <div class="header-spacer"></div>
    <div class="right-buttons" *ngIf="showButtons()">
      <button mat-button class="header-button" (click)="goToHome()">Home</button>
      <button mat-button class="header-button" (click)="goToPortfolio()">Portfolio</button>
      <button mat-button class="header-button" (click)="goToBlog()">Blog</button>
    </div>
  </div>
</mat-sidenav-container>
