<div class="body">
  <mat-card class="card">
    <mat-card-title class="title">Hello,</mat-card-title>
    <mat-card-content class="content">
      <p>My name is Nick Plutt, I'm a software engineer living in Des Moines, IA.
        I currently lead a team of talented software engineers at Dupont Pioneer in Johnston, IA.
        I spend a majority of my time at Pioneer, working with Angular, AWS, and Python utilizing
        AWS's serverless framework.
      </p>

      <p>After graduating from Iowa State with a degree in Software Engineering, I started
      working at Pioneer and got my first exposure to enterprise software development.
      The potential of creating applications that anyone in the world could access seemed
      amazing, from there I became fascinated.
      </p>

      <p>Upon starting my job at Pioneer I dedicated myself to learning more about software
        engineering and increasing my skills. During this endeavour I have found myself focusing on
        becoming the best full stack software engineer that I can be. Going down this path has
        caused me to spend most of my time with Javascript, NodeJS, Python, Angular, and AWS.
      </p>

      <p>Learning these skills has opened up a world of opportunities that I am excited to continue
        exploring. If you would like to see the projects that I'm working on, please visit
        my projects page or checkout my <a href="https://www.github.com/nplutt">Github</a>.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="title" id="contact">Contact Me</mat-card-title>
    <mat-card-content class="content">
      <p>If you would like to get in touch, you can find me on <a href="https://www.linkedin.com/in/nickplutt">LinkedIn</a>,
      or send an email to nplutt@gmail.com.
      </p>
    </mat-card-content>
  </mat-card>
</div>
