.body {
  width: 300px;
  height: 100%;
  background-color: white;
}

#header {
  height: 64px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 32px;
  font-weight: 700;
  color: #003366;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  align-items: center;
  justify-content: center;
}

.list-item {
  display: flex;
  flex-direction: row;
  height: 64px;
}

button {
  width: 100%;
  padding: 0;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #757575
}
