<div class="body">
  <mat-card class="card">
    <mat-card-title class="title">UI Deployment Pipeline</mat-card-title>
    <mat-card-content>
      <p>The UI deployment pipeline is an AWS Code Pipeline built for nickplutt.com. The pipeline was
      created using a series of cloudformation scripts and is deployed using a bash script
      that utilizes the AWS CLI. The code for this project can be found
      <a href="https://www.github.com/nplutt/aws/tree/master/ui_deployment_pipeline">here</a>.
      </p>
    </mat-card-content>
  </mat-card>
</div>
