<div class="body">
  <mat-card class="card">
    <mat-card-title class="title">Open Source Contributions</mat-card-title>
    <mat-card-content class="content">
      <p>
        <a href="https://www.github.com/aws/chalice">Chalice</a>: AWS's Python based serverless microservice framework. Chalice is a command line tool
      for creating, maintaining, and deploying serverless applications.</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="title">NickPlutt.com</mat-card-title>
    <mat-card-content class="content">
      <p>An Angular 4 based application that is hosted in AWS. The website has a fully automated CI/CD
        pipeline which allows for the seamless deployment of new code. Additionally, all of the infrastructure has been
        been created through code so that the creation of infrastructure is as automated and reproducible as possible.
        All of the code for the Angular application is located
        <a href="https://www.github.com/nplutt/personal-website">here</a> and the AWS infrastructure code can be found
        <a href="https://www.github.com/nplutt/aws">here</a>.
      </p>
      <img src="assets/nickplutt_com.png" mat-card-image>
    </mat-card-content>
  </mat-card>
</div>
