<div class="body">
  <mat-card class="card">
    <mat-card-title class="title">NickPlutt.com</mat-card-title>
    <mat-card-content class="content">
      <p>My personal website is an Angular 4 based application web application hosted in AWS. The website
        has a fully automated CI/CD pipeline which allows for seamless deployments of new code. Additionally, all of the
        AWS infrastructure has been created through code so that it is always a repeatable and automated process. The
        Angular application code is located <a href="https://www.github.com/nplutt/personal-website">here</a> and the
        AWS infrastructure code is located <a href="https://www.github.com/nplutt/aws">here</a>.
      </p>
      <img class="image" src="assets/nickplutt_com.png">
    </mat-card-content>
  </mat-card>
</div>
