<div class="body">
  <mat-card class="card">
    <mat-card-title class="title">Creating an Angular 4 Build Pipeline in AWS</mat-card-title>
    <mat-card-content class="content">
      <p>
        This tutorial details how to create an Angular 4 build pipeline in AWS, deploy the application so that it
        is available to users through a S3 bucket configured for static web hosting, and save the build artifacts to
        an S3 bucket. The two parts to this tutorial are, modifying the Angular application so that it can be built in
        Codebuild, and
        <a href="https://medium.com/@nplutt/creating-an-angular-4-build-pipeline-in-aws-e4f939aceecc">more...</a>
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-title class="title">How I Sped Up a Data Refactor By a Factor of 15 Using Kinesis Streams & Lambda</mat-card-title>
    <mat-card-content class="content">
      <p>
        I was recently tasked with refactoring around one million json files stored in S3 across four environments.
        Since there were no time constraints, I decided the easiest solution would be to write a Python script to
        refactor the data, then run it on an EC2 instance out in AWS to help minimize latency. This solution proved to
        be quite successful, and
        <a href="https://medium.com/@nplutt/how-i-sped-up-a-data-refactor-by-a-factor-of-15-using-kinesis-streams-lambda-793ac5a191d5">more...</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
