<div class="body">
  <mat-card class="card">
    <mat-card-title class="title">Creating an Angular 4 Build Pipeline in AWS</mat-card-title>
    <mat-card-content class="content">
      <p>
        This tutorial details how to create an Angular 4 build pipeline in AWS, deploy the application so that it
        is available to users through a S3 bucket configured for static web hosting, and save the build artifacts to
        an S3 bucket. The two parts to this tutorial are, modifying the Angular application so that it can be built in
        Codebuild, and
        <a href="https://medium.com/@nplutt/creating-an-angular-4-build-pipeline-in-aws-e4f939aceecc">more...</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>
