@import url('https://fonts.googleapis.com/css?family=Roboto');

.app-body {
    font-family: Roboto;
}

.page {
    margin-bottom: 100px;
}

.container {
    padding-top: 100px;
    max-width: 450px;
    margin: auto;
}