body {
  margin: 0;
/*linear-gradient(to right, #3a7bd5, #3a6073);*/
  background: #FAFAFA;
  height: 100vh;
}

#root, .app-body {
  height: 100%;
  width: 100%;
  display: inline-table;
}

.component {
  overflow-y: auto;
}
