@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@media screen and (max-width: 800px) {
  .card {
    margin: 20px;
  }
}

@media screen and (min-width: 800px) {
  .card {
    width: 800px;
    margin: 20px auto 20px auto ;
  }
}

.content {
  font-size: 2vh;
}

.title {
  color: #003366;
}

.subtitle {
  color: black
}
