<div class="body">
  <mat-card class="card">
    <form #signInForm="ngForm">
      <mat-input-container>
        <input mdInput #email class="input" type="email" name="email" placeholder="Email">
      </mat-input-container>
      <mat-input-container>
        <input mdInput #password class="input" type="password" name="password" placeholder="Password">
      </mat-input-container>
      <button mat-button class="button sign-in-button" (click)="signIn(email.value, password.value)">Sign In</button>
    </form>
  </mat-card>
</div>
