<div class="body">
  <md-card class="card">
    <form #signInForm="ngForm">
      <md-input-container>
        <input mdInput #email class="input" type="email" name="email" placeholder="Email">
      </md-input-container>
      <md-input-container>
        <input mdInput #password class="input" type="password" name="password" placeholder="Password">
      </md-input-container>
      <button md-button class="button sign-in-button" (click)="signIn(email.value, password.value)">Sign In</button>
    </form>
  </md-card>
</div>
