.sign-up-card {
  height: 300px;
}

.confirm-card {
  height: 200px;
}

.sign-up-button {
  margin-top: 40px;
}

.confirm-button {
  margin-top: 60px;
}

.custom-error {
  margin-top: -14px;
  height: 14px;
  font-size: 75%;
}
