.body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2962FF;
}

.card {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 250px;
  height: 300px;
  transform: translate(-50%, -50%);
}

.input {
  width: 250px;
}

.button {
  background-color: #0039CB;
  color: white;
  width: 250px;
  margin-top: 80px;
}
