.fade-enter {
    max-height: 0;
    overflow: hidden;
}

.fade-enter-active {
    max-height: 100%;
    transition: max-height 1000ms ease-in;
}

.blog-post pre {
    overflow-y: auto;
    display: grid;
}

.blog-post p, .blog-post li, .blog-post h1, .blog-post h2,
.blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {
    margin: 0;
}

.blog-post p, .blog-post li, .blog-post h1, .blog-post h2,
.blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {
    margin-bottom: 0.35em;
}

.blog-post h1 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 6rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.01562em;
}

.blog-post h2 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 3.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.00833em;
}

.blog-post h3 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 3rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.04;
    letter-spacing: 0em;
}

.blog-post h4 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 2.125rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.00735em;
}

.blog-post h5 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}

.blog-post h6 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.blog-post p, .blog-post li, .blog-post p code, .blog-post li code {
    margin-bottom: 0.35em;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.blog-post p {
    padding: 7px 0 7px 0;
}

.blog-post code {
    background-color: #EFEFF0;
}

.blog-post pre code {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.75rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.3;
}